$color-accent: #00ffe1

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: $color-accent
$header-sticky-background: $color-accent
$header-logo-height-desktop: 70px
$header-border-bottom-width: 0
$hero-background-color: $color-accent
$hero-color: black
$footer-background-color: none