*
    letter-spacing: 0.02em !important
.hero
    background-image: url(/assets/images/pattern.png)
    background-blend-mode: color-dodge
    background-size: 25%
    background-position-x: var(--grid-gutter)